# Backend
backend/target/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.jar


#Git
frontend/package-lock.json

# Frontend
frontend/node_modules/
node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/bun.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Docker
postgres_data/
